@import url('https://fonts.googleapis.com/css?family=Playfair+Display');

body {
    font-family: 'Playfair Display', serif;
    background: #c9d8c5;
    color: #fff;
    font-weight: 550;
}

#navigation {
    background: #a8b6bf;
    opacity: 0.8;
}

nav a {
    color: #7d4627;
    font-weight: 600;
    letter-spacing: 1px;
}

nav .nav-link:hover {
    color: #fff;
}

h3 {
    text-decoration: underline;
    font-size: 2.2em;
}

#home .jumbotron {
    background: #7d4627 ;
}

#home .jumbotron h1 {
    font-style: italic;
    font-size: 5em;
    text-decoration: underline;
    text-decoration-color: #a8b6bf;
}

#about h5 {
    color: #7d4627;
    font-style: italic;
}

#about .diamond img {
    clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%);
    transition: 1s clip-path;
}

#about .diamond img:hover {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

#gallery img {

}