@import url('https://fonts.googleapis.com/css?family=Playfair+Display');

body {
    font-family: 'Playfair Display', serif;
    background: #c9d8c5;
    color: #fff;
    font-weight: 550;
}

#navigation {
    background: #a8b6bf;
    opacity: 0.8;
}

nav button {
    color: #000;
    border-radius: 0;
    border-width: 0; 
    border-style: none;
    border-color: #a8b6bf;
    border-image: 0;
    outline: none;
}

nav button i {
    outline: none;
}

nav button:hover {
    color: #fff;
    border-radius: 0;
    border-width: 0; 
    border-style: none;
    background: #a8b6bf;
    border-color: #a8b6bf;
    border-image: 0;
    outline: none;
}

nav a {
    color: #7d4627;
    font-weight: 600;
    letter-spacing: 1px;
}

.right-border {
    border-right: #7d4627 solid 1px;
}

nav .navbar-brand {
    color: #000;
    letter-spacing: 2px;
    text-decoration: underline;
}

nav .navbar-brand:hover {
    color: #fff;
}

nav .nav-link:hover {
    color: #fff;
}

h3 {
    text-decoration: underline;
    font-size: 2.2em;
}

h2 {
    text-decoration: underline;
    font-size: 2.6em;
    letter-spacing: 2.5px;
}

#home .jumbotron {
    background: url(https://images.unsplash.com/photo-1515388293731-e768737d41e7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 400px;
}

#home .jumbotron h1 {
    font-style: italic;
    font-size: 5em;
    text-decoration: underline;
    text-decoration-color: #a8b6bf;
}

#about h5 {
    color: #7d4627;
    font-style: italic;
}

#about .diamond img {
    clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%);
    transition: 1s clip-path;
}

#about .diamond img:hover {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

#gallery img {
    border: #000 dotted 1px;
    border-radius: 3px;
}

#gallery img:hover {
    opacity: .8;
}

.btn-color {
    background: #7d4627;
}

.btn-subscribe {
    background: #a8b6bf
}

.btn-subscribe:hover {
    background: #000;
    color: #fff;
}